{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Env Field plugin for Craft CMS
 *
 * Env Field Settings
 *
 * @author    Just Enough Consulting
 * @copyright Copyright (c) 2022 Just Enough Consulting
 * @link      https://justenough.co
 * @package   EnvField
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<fieldset>
{{ forms.textField({
    label: "Placeholder Text"|t('app'),
    instructions: "The text that will be shown if the field doesn’t have a value."|t('app'),
    id: 'placeholder',
    name: 'placeholder',
    value: field.placeholder,
    errors: field.getErrors('placeholder')
}) }}

{{ forms.textField({
    label: "Tip"|t('app'),
    instructions: 'The text that will be shown beneath the field as a tip for editors. Leave blank to hide',
    id: 'tip',
    name: 'tip',
    value: field.tip,
    errors: field.getErrors('tip')
}) }}

{{ forms.textField({
    label: "Warning"|t('app'),
    instructions: 'The text that will be shown beneath the field as a warning for editors. Leave blank to hide',
    id: 'warning',
    name: 'warning',
    value: field.warning,
    errors: field.getErrors('warning')
}) }}



{% embed '_includes/forms/field' with {
    label: 'Field Limit'|t('app'),
    instructions: "The maximum number of characters or bytes the field is allowed to have."|t('app'),
    id: 'fieldLimit',
    errors: field.getErrors(field.byteLimit ? 'byteLimit' : 'charLimit')
} %}
    {% import "_includes/forms" as forms %}
    {% block input %}
        <div class="flex">
            {{ forms.text({
                id: 'fieldLimit',
                name: 'fieldLimit',
                value: field.charLimit ?? field.byteLimit,
                size: 3,
            }) }}
            {{ forms.select({
                id: 'limitUnit',
                name: 'limitUnit',
                options: [
                    { value: 'chars', label: 'Characters'|t('app') },
                    { value: 'bytes', label: 'Bytes'|t('app') },
                ],
                value: field.byteLimit ? 'bytes' : 'chars'
            }) }}
        </div>
    {% endblock %}
{% endembed %}
</fieldset>
<fieldset>
    {{ forms.checkboxField({
        label: "Use a monospaced font"|t('app'),
        name: 'code',
        checked: field.code,
    }) }}
    {{ forms.checkboxField({
        label: "Enable autosuggest of environment variables",
        name: 'enableAutosuggest',
        checked: field.enableAutosuggest,
    }) }}
</fieldset>


{% if craft.app.db.isMysql %}
    <hr>
    <a class="fieldtoggle" data-target="advanced">{{ "Advanced"|t('app') }}</a>
    <div id="advanced" class="hidden">
        {{ forms.selectField({
            label: "Column Type"|t('app'),
            id: 'column-type',
            name: 'columnType',
            instructions: "The type of column this field should get in the database."|t('app'),
            options: [
                { value: 'auto', label: 'Automatic'|t('app') },
                { value: 'string', label: 'varchar (255B)' },
                { value: 'text', label: 'text (~64KB)' },
                { value: 'mediumtext', label: 'mediumtext (~16MB)' },
            ],
            value: field.columnType ?? 'auto',
            warning: (field.id ? "Changing this may result in data loss."|t('app')),
        }) }}
    </div>
{% endif %}